body{
    background-color: rgba(0,0,0,0.8);
    border: 3px solid black;
    border-radius: 15px;
    color: white;
    margin: 0;
    padding: 7px;
    width: 48.5%;
}
#chat{
    background-color: rgba(0,0,0,0.8);
    border: 3px solid black;
    border-radius: 15px;
    position: absolute;
    left: 50%;
    width: 48.5%;
    text-wrap: normal;
    overflow-wrap: break-word;
    bottom: 0;
    padding: 5px;
}

a:link, a:visited {
    background-color: white;
    color: black;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 7px;
}

a:hover, a:active {
    background-color: red;
}