<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fauxemon Login</title>
    <link href="./views/css/background_style.css" rel="stylesheet">
    <link href="./views/css/general_styles.css" rel="stylesheet">
</head>
<body>
    <h1>Welcome</h1>
    <p>Please login</p>
    <form action="/login" method="post">
        Username:<input type="text" id="username" name="username"><br/>
        Password:<input type="password" id="password" name="password"><br/>
        <input type="submit" value="Login">
    </form>
    <% if(error){ %>
    <p><%=error%></p>
    <%}%>
    <a href="/register">Not registered?</a>
</body>
</html>